*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Cute Font";
    src: url("https://fonts.googleapis.com/css?family=Cute+Font&display=swap");
}
 */
@font-face {
    font-family: "Digital 7";
    src: url("fonts/digital-7.ttf");
}

body {
    /* height: 100%; */
    /* background-image: linear-gradient(#002E4B, #0081B6); */
    /* background-repeat: no-repeat; */
    background-color: #222;
}

header {
    text-align: center;
    font-size: 2em;
    margin: 50px 0;
    color: #EEE;

}


.calculator-wrap {
    display: grid;

    width: 30%;
    height: 40%;
    margin: 0 auto;

    padding: 10px;
    opacity: 50%;
    background-color: #DDD;

    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    gap: 1px;
}

.btn {
    padding: 5px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 2px;
    font-family: "Cute Font", sans;
}

.btn:hover {
    background-color: #AAA;
}

.operator-btn,
.clear-btn {
    background-color: #999;
}

.clear-btn {
    color: #900;
    font-weight: 800;
    font-family: monospace;
    font-size: 1.5em;
}

.result-display {
    /* align-self: center; */
    /* place-self: center; */
    font-family: "Digital 7", monospace;
    font-size: 1.5em;
    background-color: #ACA;

    padding: 5px;

    border: 1px solid black;
    border-radius: 5px;

    grid-column: 1 / 4;
}

.display-value-temp {
    float: left;
}

.display-value-typing {
    float: right;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: #AAA;
}